@charset "UTF-8";
/* CSS Document */


/* GLOBAL STYLES */
body {padding-bottom:0px !important;}
.navbar.navbar-fixed-top {width:100vw;}
.extra-padding {padding-top: 50px; padding-bottom:50px;}
.padding-top {padding-top: 50px;}
h2 {color:#1c68a5; font-weight:lighter; margin-top:5px;}
h4 {color:#434a53;font-weight:lighter;}
h3 {font-weight:lighter;}


/* BANNER*/
.banner-wrapper {position:relative; display:table-cell; vertical-align:middle;background-color:#F5F7FA;}
.banner {height:100vh; margin-top:-56px; text-align:center; position:relative; display:table; width:100%;vertical-align:middle; }
.banner .content {position:relative; vertical-align: bottom; display:inline-block; padding:10px 0; max-width:1170px;}
.banner h1 {font-size:54px; font-weight:lighter; margin-bottom:0px; margin-top:0px;}
.banner h3 {font-size:20px; font-weight:lighter; margin-top:5px; margin-bottom:10px; max-width: 850px;margin-left: auto;margin-right: auto;}
.banner-img {vertical-align:top; display:inline-block; position:relative; max-width:800px; padding-top:66px; overflow:hidden;}
.scroll-down {position: absolute; bottom: 0; left: 48%; /*padding-bottom:20px;*/}

/* OVERVIEW SECTION*/
.demo-txt {font-size: 10px; float: none;/*width: auto;*/margin: 10px;padding: 6px 20px;letter-spacing: 0.5px;font-weight: lighter; color:#d1f8d0;}
.demo-txt h4 {font-size:16px;margin: 0 5px; color:#fff;}
.center {text-align:center;}
.threecol {display:inline-block !important; float:unset !important; margin:0 5px !important; padding:0; }
.threecol img {border-bottom:solid #ccc 1px;}

/* SOLUTION SECTION*/
.diagram {overflow:hidden; height:500px; max-width:620px; min-width:620px; position:relative; float:right;}
.diagram p {margin-top:0px; font-size:10px; font-style:italic;}
.diagram h4 {margin-bottom:5px;}
.circle-3 {border-radius:350px; background-color:#e1edf7; z-index:0; width:600px; height:600px; position:relative; margin:auto; }
.circle-2 {border-radius:225px; background-color:#bddbf2; z-index:1; width:345px; height:345px;position:relative; top:19%; margin:auto; }
.circle-1, .circle-4, .circle-5 {border-radius:90px; text-align:center;width:150px; height:150px;}
.circle-1 {color:#fff; background-color:#2f93e0; z-index:2; position:relative; top:28%; margin:auto;padding-top:40px; border:solid 4px #fff;}
.circle-1 h5, .circle-1 fa {color:#fff; margin-bottom:5px;}
.circle-4 h5, .circle-5 h5 {color:#434a54 !important; margin-bottom:5px;}
.circle-4, .circle-5  {background-color:#fff; color:#2f93e0;z-index:3; position:absolute; }
.circle-4 {top: 36%; left:10%; padding-top:33px;}
.circle-5 {top: 7%; left: 38% ;padding-top:23px; }
.line-1 {width:44px; height:4px; background-color:#fff; position:absolute; top:55%; left:31%; -ms-transform: rotate(10deg); /* IE 9 */-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */transform: rotate(10deg);}
.line-2 {width:42px; height:4px; background-color:#fff; position:absolute; top:38%; left:47%; -ms-transform: rotate(90deg); /* IE 9 */-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */transform: rotate(90deg);}
.solution .row {height:500px; display: block; overflow:hidden; margin-bottom: -15px;}
.solution .col-lg-5, .solution .col-md-4  {display:table; height:100%; }
.solution .content {display:table-cell; vertical-align:middle; float:none;}

/* ENVIRONMENTS SECTION */
.environments  {color:#434a54; display: table-cell;}
.environments .col-md-6 {padding-left:0;}
.enviro-left, .enviro-right {padding:0;}

/* PROJECT SECTION*/
.project {float:unset; margin-left:auto;}
.project .nav-pills li.active a:hover {background-color:#3370a2; color:#fff;}
.project .nav li a:hover {background-color: transparent;border-color: transparent;}
.project .col-sm-12, .project .col-md-2 {padding-left:0; padding-top:10px; padding-bottom:10px;}
.pipeline h4, .environments h4 {color:#2f93e0; font-weight:lighter; margin-bottom:0;}
.pipeline p, .environments p {margin-top:10px;}

/* FOOTER*/
#footer {padding:50px 0;}
#footer h1 {font-weight:lighter; color:#fff; padding-bottom:20px;}
.footer-social {background-color:#273b4a; padding:20px 0;}
.footer-social h4 {color:#9ea7ae;padding-bottom:10px;}
.form-left {display:inline-block;padding-right: 0px !important;float:none; padding-left:0 !important; margin:3px 0; }
input.form-field {width:100%; font-family: Open Sans, Arial, sans-serif; color:#38546a; font-size: 11px; background-color:#0f2535; border-width:0; padding:10px; letter-spacing:0.5px; }
input.form-field:focus {background-color:#fff; outline: none; border: 0px;}
.subscribe-form {max-width:800px; margin: 0 auto;}
input.hidden {display:none;}
.submit-btn {width:100%; font-family: Open Sans, Arial, sans-serif; color:#9ea7ae; font-size: 13px; background-color:#3d4f5c; border-width:0; padding:7px; border-radius:3px; letter-spacing:0.5px; font-weight:normal;}
.submit-btn:hover {background-color:#fff; color:#273b4a;}
.social-wrapper {width:156px;padding-top:20px;padding-bottom:0;padding-right:5px;padding-left:5px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;}
.social-icon {display:inline-block; margin:0 6px; color:#0f2535;}
.social-icon:hover {color:#fff;}

.anchor{
  display: block;height: 0px; /*same height as header*/
  margin-top: 0px; /*same height as header*/
  visibility: hidden;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    }

/* MEDIA QUERIES */
@media (max-width : 1024px){
	.scroll-down {display:none;}
	.solution .col-lg-5, .solution .col-md-4 {height:auto;}
	.solution .row {height:600px;}
	.diagram {float:none; margin:0 auto; }
	.project{margin-left:25px;}

}
@media (min-width : 320px) and (max-width : 480px){
	.demo-txt {width:100%; margin: 5px auto;}
	.banner h3 {font-size:15px; margin-bottom:5px;}
	.banner h1 {font-size:40px;}
	.enviro-left, .enviro-right {display:none;}
	.solution .row {height:670px;}
	.diagram {float:none; margin:0 auto; margin-left:-63px;}
	.project{margin-left:15px;}
}
	
@media (min-width: 481px) and (max-width:767px) {
	.enviro-left, .enviro-right {display:none;}
}

/*LANDSCAPE MEDIA QUERIES*/	
@media (max-width: 641px) and (orientation: landscape) {
	.banner-img img {width:60%;}
	.demo-txt {width:28%; padding:6px 0;}
	.demo-txt h4 {font-size:14px;}
	.banner h3 {font-size:13px; margin-bottom: 5px;}
	.banner h1 {font-size:34px;}
	.enviro-left, .enviro-right {display:none;}
	.solution .col-lg-5, .solution .col-md-4 {height:auto !important;}
	.solution .row {height:600px !important;}
}

@media (max-width: 1024px) and (orientation: landscape) {
	.solution .row {height:500px;}
	.solution .col-lg-5, .solution .col-md-4 {height:100%;}
}

@media (max-height: 700px) and (orientation: landscape) {
	.scroll-down {display:none;}
}
/*Scroll Down Animation*/
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 20px;
  text-decoration: none;
  overflow: hidden;
}
.mouse-scroll .mouse {
  position: relative;
  display: block;
  width: 28px;
  height: 45px;
  margin: 0 auto 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #2f93e0;
  border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  background: #2f93e0;
  border-radius: 50%;
  -webkit-animation: scroll-ani 2s linear infinite;
  -moz-animation: scroll-ani 2s linear infinite;
  animation: scroll-ani 2s linear infinite;
}
.mouse-scroll .mouse-message {
  float: left;
  /*margin: -200px 0 0 7px;*/
  padding: 0;
  -webkit-animation: scroll-ani 4s linear infinite;
  -moz-animation: scroll-ani 4s linear infinite;
  animation: scroll-ani 4s linear infinite;
  letter-spacing: 0;
  color: #2f93e0;
  font-family: open sans;
}
.mouse-scroll:hover .mouse-message {
  margin-top: 0;
}
